// ### Primary

$Very_Dark_Blue: hsl(243, 87%, 12%);
$Desaturated_Blue: hsl(238, 22%, 44%);

// ### Accent

$Bright_Blue: hsl(224, 93%, 58%);
$Moderate_Cyan: hsl(170, 45%, 43%);

// ### Neutral

$Light_Grayish_Blue: hsl(240, 75%, 98%);
$Light_Gray: hsl(0, 0%, 75%);

$body: "Open Sans", sans-serif;
$Header-nav: "Raleway", sans-serif;

@mixin universal($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin media_medium {
  @media screen and (min-width: 650px) {
    @content;
  }
}
@mixin media_large {
  @media screen and (min-width: 950px) {
    @content;
  }
}
